h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 2em;
  margin-top: 20px;
}

h2, h3, h4, h5, p, .site-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.post-content > h1, 
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
  margin-top: 70px;
}

p {
  font-size: 1.3em;
  margin-top: 30px;
}

.site-title,
.site-title:hover,
.site-title:active,
.site-title:visited {
  text-decoration: none;
}

.post-link {
  margin-top: 5px;

}
