---
layout: default
---

<div class="home">
  <div class="body-grid">

    {{ content }}
  </div>

  <div class="tag-grid">
    <h3>tags</h3>
    {% for category in site.categories %}
      <li class="tag-cloud-item" style="font-size: {{ category | last | size  | times: 500 | divided_by: site.categories.size | plus: 35 }}%">
        <!--
        <a href="/{{ category | first | slugize }}/">
        -->
            {{ category | first }}
        <!--
        </a>
        -->
      </li>
    {% endfor %}
  </div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
